@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Ovo&display=swap');

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.menu {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
}

.button,
.menu-top {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.p {
    font-family: 'Mulish', Helvetica, Arial, sans-serif;
}

.footer {
    font-family: 'Mulish', Helvetica, Arial, sans-serif;
}

.firstSection {
    background-image: url("../img/bg-pattern.png"), linear-gradient(to right, rgb(218, 36, 49), rgb(122, 67, 151));
    height: 1180px;
}

.doubleImg {
    background-image: url("../img/demo-screen-1.jpg"), url("../img/phone.png");
    background-size: 54%, 62%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    height: 900px;
}

.secondSection,
.fifthSection {
    background-color: rgb(255, 209, 94);
}


.fourthSection {
    background-image: url('../img/bg-cta.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1000px;
}

.endSection,
a:link,
a:visited {
    background-color: rgb(0, 0, 0);
    color: rgb(104, 104, 104);
    text-decoration: none;
}

.utf8Icon {
    font-size: 8rem;
}